<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gallery</title>
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <load ="partials/header.html" />
    <main>
      <section class="gallery-section">
        <div class="container">
          <ul class="gallery"></ul>
        </div>
      </section>
    </main>
    <script type="module" src="./js/no-name-face-gallery.js"></script>
  </body>
</html>
