<section class="hero">
  <div class="container hero-background">
   <div class="hero-layout">
        <div class="accordeon">
            <ul class="acord-album-list">
            <li class="acord-album-item">
              <div class="acord-title-arrow">
                <h4 class="acord-album-title">
                  Diff's Lucky Days
                </h4>
                <svg class="icon-up" width="24" height="24">
                  <use href="./img/icons.svg#icon-arrow-up"></use>
                </svg>
                <svg class="icon-down" width="24" height="24">
                  <use href="./img/icons.svg#icon-arrow-down"></use>
                </svg>
              </div>
              <div class="acord-img-description">
                <img class="acord-img" src="" alt="">
                  <p class="acord-album-description">
                    Year of release: 1999;
                    Band members:
                    Singles:
                  </p>
              </div>
            </li>
            <li class="acord-album-item">
              <div class="acord-title-arrow">
                <h4 class="acord-album-title">
                  No Name Face
                </h4>
                <svg class="icon-up" width="24" height="24">
                  <use href="./img/icons.svg#icon-arrow-up"></use>
                </svg>
                <svg class="icon-down" width="24" height="24">
                  <use href="./img/icons.svg#icon-arrow-down"></use>
                </svg>
              </div>
              <div class="acord-img-description">
                <img class="acord-img" src="" alt="">
                  <p class="acord-album-description">
                    <b>Year of release:</b> 2000;
                    <b>Band members:</b> Jason Wade, Sergio Andrade, Rick Woolstenhulme
                    <b>Singles:</b> Hanging by a moment, 
                  </p>
              </div>
            </li>
            <li class="acord-album-item">
              <div class="acord-title-arrow">
                <h4 class="acord-album-title">
                  Stanley Climbfall
                </h4>
                <svg class="icon-up" width="24" height="24">
                  <use href="./img/icons.svg#icon-arrow-up"></use>
                </svg>
                <svg class="icon-down" width="24" height="24">
                  <use href="./img/icons.svg#icon-arrow-down"></use>
                </svg>
              </div>
              <div class="acord-img-description">
                <img class="acord-img" src="" alt="">
                  <p class="acord-album-description">
                    Year of release: 2002;
                    Band members:
                    Singles:
                  </p>
              </div>
            </li>
            <li class="acord-album-item">
              <div class="acord-title-arrow">
                <h4 class="acord-album-title">
                  Lifehouse
                </h4>
                <svg class="icon-up" width="24" height="24">
                  <use href="./img/icons.svg#icon-arrow-up"></use>
                </svg>
                <svg class="icon-down" width="24" height="24">
                  <use href="./img/icons.svg#icon-arrow-down"></use>
                </svg>
              </div>
              <div class="acord-img-description">
                <img class="acord-img" src="" alt="">
                  <p class="acord-album-description">
                    Year of release: 2005;
                    Band members:
                    Singles:
                  </p>
              </div>
            </li>
            <li class="acord-album-item">
              <div class="acord-title-arrow">
                <h4 class="acord-album-title">
                  Who we are
                </h4>
                <svg class="icon-up" width="24" height="24">
                  <use href="./img/icons.svg#icon-arrow-up"></use>
                </svg>
                <svg class="icon-down" width="24" height="24">
                  <use href="./img/icons.svg#icon-arrow-down"></use>
                </svg>
              </div>
              <div class="acord-img-description">
                <img class="acord-img" src="" alt="">
                  <p class="acord-album-description">
                    Year of release: ;
                    Band members:
                    Singles:
                  </p>
              </div>
            </li>
            <li class="acord-album-item">
              <div class="acord-title-arrow">
                <h4 class="acord-album-title">
                  Smoke and Mirrors
                </h4>
                <svg class="icon-up" width="24" height="24">
                  <use href="./img/icons.svg#icon-arrow-up"></use>
                </svg>
                <svg class="icon-down" width="24" height="24">
                  <use href="./img/icons.svg#icon-arrow-down"></use>
                </svg>
              </div>
              <div class="acord-img-description">
                <img class="acord-img" src="" alt="">
                  <p class="acord-album-description">
                    Year of release: ;
                    Band members:
                    Singles:
                  </p>
              </div>
            </li>
            <li class="acord-album-item">
              <div class="acord-title-arrow">
                <h4 class="acord-album-title">
                  Almeria
                </h4>
                <svg class="icon-up" width="24" height="24">
                  <use href="./img/icons.svg#icon-arrow-up"></use>
                </svg>
                <svg class="icon-down" width="24" height="24">
                  <use href="./img/icons.svg#icon-arrow-down"></use>
                </svg>
              </div>
              <div class="acord-img-description">
                <img class="acord-img" src="" alt="">
                  <p class="acord-album-description">
                    Year of release: ;
                    Band members:
                    Singles:
                  </p>
              </div>
            </li>
            <li class="acord-album-item">
              <div class="acord-title-arrow">
                <h4 class="acord-album-title">
                  Out of the wasteland
                </h4>
                <svg class="icon-up" width="24" height="24">
                  <use href="./img/icons.svg#icon-arrow-up"></use>
                </svg>
                <svg class="icon-down" width="24" height="24">
                  <use href="./img/icons.svg#icon-arrow-down"></use>
                </svg>
              </div>
              <div class="acord-img-description">
                <img class="acord-img" src="" alt="">
                  <p class="acord-album-description">
                    Year of release: ;
                    Band members:
                    Singles:
                  </p>
              </div>
            </li>
            <li class="acord-album-item">
              <div class="acord-title-arrow">
                <h4 class="acord-album-title">
                  Goodbye Kanan
                </h4>
                <svg class="icon-up" width="24" height="24">
                  <use href="./img/icons.svg#icon-arrow-up"></use>
                </svg>
                <svg class="icon-down" width="24" height="24">
                  <use href="./img/icons.svg#icon-arrow-down"></use>
                </svg>
              </div>
              <div class="acord-img-description">
                <img class="acord-img" src="" alt="">
                  <p class="acord-album-description">
                    Year of release: ;
                    Band members:
                    Singles:
                  </p>
              </div>
            </li>
        </div>
        <p class="hero-description">
          <span>Lifehouse</span> is a band from California which starts its journey
          in 1996. Jason Wade took the music as a way to find a connection with a
          new city where he just moved in. After all it turned into a successful
          music career. For more than twenty years we got eight studio albums. Jason
          and his bandmates experimenting with different direction from alternative
          rock to country music. Among that Wade started a few own projects. Another
          chapter is a collaboration with Steve Stout, also Lifehouse’ band member,
          what came out as a retrospective on the 60’s music. Side project got a
          name ØZWALD. The poetry of the last thirty years is here for you...
        </p>
   </div>
  </div>
  <!-- <div class="hero-menu">
    <ul class="menu-list">
      <li><a href="">About</a></li>
      <li><a href="">Lyrics</a></li>
      <li><a href="">Gallery</a></li>
      <li><a href="">Jason Wade</a></li>
      <li><a href="">ØZWALD</a></li>
    </ul>
  </div> -->
</section>
