<section class="hero">
    <div class="container hero-background">
        <p class="hero-description">Lifehouse is a band from California which starts its journey in 1996. Jason Wade took the music as a way to find a
        connection with a new city where he just moved in. After all it turned into a successful music career. For more than
        twenty years we got eight studio albums. Jason and his bandmates experimenting with different direction from alternative
        rock to country music. Among that Wade started a few own projects. Another chapter is a collaboration with Steve Stout,
        also Lifehouse’ band member, what came out as a retrospective on the 60’s music. Side project got a name ØZWALD. The
        poetry of the last thirty years is here for you...</p>
       
    </div>
<div class="hero-menu">
    <ul class="menu-list">
        <li><a href="">About</a></li>
        <li><a href="">Lyrics</a></li>
        <li><a href="">Gallery</a></li>
        <li><a href="">Jason Wade</a></li>
        <li><a href="">ØZWALD</a></li>
    </ul>
</div>
</section>