<section class="hero">
  <div class="container hero-background">
   <div class="hero-layout">
        <div class="accordeon">
            <ul class="acord-album-list">
            <li class="acord-album-item">
              <div class="acord-title-arrow">
                <h4 class="acord-album-title">
                  Diff's Lucky Days
                </h4>
                <svg class="icon-up" width="24" height="24">
                  <use href="./img/icons.svg#icon-arrow-up"></use>
                </svg>
                <svg class="icon-down" width="24" height="24">
                  <use href="./img/icons.svg#icon-arrow-down"></use>
                </svg>
              </div>
              <div class="acord-img-description">
                  <div class="img-text">
                      <img class="acord-img" src="./img/covers/blyss.jpg" alt="blyss-cover">
                        <p class="acord-album-description">
                          <b>Year of release:</b> 1999;                 
                        </p>
                  </div>
                  <a  class="lrn-more" href="">learn more...</a>
              </div>
            </li>
            <li class="acord-album-item">
              <div class="acord-title-arrow">
                <h4 class="acord-album-title">
                  No Name Face
                </h4>
                <svg class="icon-up" width="24" height="24">
                  <use href="./img/icons.svg#icon-arrow-up"></use>
                </svg>
                <svg class="icon-down" width="24" height="24">
                  <use href="./img/icons.svg#icon-arrow-down"></use>
                </svg>
              </div>
              <div class="acord-img-description">
                <div class="img-text">
                  <img class="acord-img" src="./img/covers/1.jpg" alt="">
                    <p class="acord-album-description">
                      <b>Year of release:</b> 2000;<br>
                      <b>Singles:</b> Hanging By A Moment, Sick Cycle Carousel, Breathing;
                    </p>
                </div>
                  <a  class="lrn-more" href="">learn more...</a>
              </div>
            </li>
            <li class="acord-album-item">
              <div class="acord-title-arrow">
                <h4 class="acord-album-title">
                  Stanley Climbfall
                </h4>
                <svg class="icon-up" width="24" height="24">
                  <use href="./img/icons.svg#icon-arrow-up"></use>
                </svg>
                <svg class="icon-down" width="24" height="24">
                  <use href="./img/icons.svg#icon-arrow-down"></use>
                </svg>
              </div>
              <div class="acord-img-description">
               <div class="img-text">
                  <img class="acord-img" src="./img/covers/2.jpg" alt="">
                    <p class="acord-album-description">
                      <b>Year of release:</b> 2002;<br>
                      <b>Singles:</b> Spin, Take Me Away;
                    </p>
               </div>
                  <a  class="lrn-more" href="">learn more...</a>
              </div>
            </li>
            <li class="acord-album-item">
              <div class="acord-title-arrow">
                <h4 class="acord-album-title">
                  Lifehouse
                </h4>
                <svg class="icon-up" width="24" height="24">
                  <use href="./img/icons.svg#icon-arrow-up"></use>
                </svg>
                <svg class="icon-down" width="24" height="24">
                  <use href="./img/icons.svg#icon-arrow-down"></use>
                </svg>
              </div>
              <div class="acord-img-description">
                <div class="img-text">
                  <img class="acord-img" src="./img/covers/3.jpg" alt="">
                    <p class="acord-album-description">
                      <b>Year of release:</b> 2005;<br>
                     <b>Singles:</b> You And Me,  Blind;
                    </p>
                </div>
                  <a  class="lrn-more" href="">learn more...</a>
              </div>
            </li>
            <li class="acord-album-item">
              <div class="acord-title-arrow">
                <h4 class="acord-album-title">
                  Who we are
                </h4>
                <svg class="icon-up" width="24" height="24">
                  <use href="./img/icons.svg#icon-arrow-up"></use>
                </svg>
                <svg class="icon-down" width="24" height="24">
                  <use href="./img/icons.svg#icon-arrow-down"></use>
                </svg>
              </div>
              <div class="acord-img-description">
              <div class="img-text">
                  <img class="acord-img" src="./img/covers/4.jpg" alt="">
                    <p class="acord-album-description">
                      <b>Year of release:</b> 2007;<br>
                      <b>Singles:</b>First Time, Whatever IT Takes, Broken;
                    </p>
              </div>
                  <a  class="lrn-more" href="">learn more...</a>
              </div>
            </li>
            <li class="acord-album-item">
              <div class="acord-title-arrow">
                <h4 class="acord-album-title">
                  Smoke and Mirrors
                </h4>
                <svg class="icon-up" width="24" height="24">
                  <use href="./img/icons.svg#icon-arrow-up"></use>
                </svg>
                <svg class="icon-down" width="24" height="24">
                  <use href="./img/icons.svg#icon-arrow-down"></use>
                </svg>
              </div>
              <div class="acord-img-description">
                <div class="img-text">
                  <img class="acord-img" src="./img/covers/5.jpg" alt="">
                    <p class="acord-album-description">
                      <b>Year of release:</b> 2010;<br>
                      <b>Singles:</b>Halfway Gone, All in, Falling In;
                    </p>
                </div>
                  <a  class="lrn-more" href="">learn more...</a>
              </div>
            </li>
            <li class="acord-album-item">
              <div class="acord-title-arrow">
                <h4 class="acord-album-title">
                  Almeria
                </h4>
                <svg class="icon-up" width="24" height="24">
                  <use href="./img/icons.svg#icon-arrow-up"></use>
                </svg>
                <svg class="icon-down" width="24" height="24">
                  <use href="./img/icons.svg#icon-arrow-down"></use>
                </svg>
              </div>
              <div class="acord-img-description">
               <div class="img-text">
                  <img class="acord-img" src="./img/covers/6.jpg" alt="">
                    <p class="acord-album-description">
                      <b>Year of release:</b> 2012;<br>
                      <b>Singles:</b> Between the Raindrops;
                    </p>
               </div>
                  <a  class="lrn-more" href="">learn more...</a>
              </div>
            </li>
            <li class="acord-album-item">
              <div class="acord-title-arrow">
                <h4 class="acord-album-title">
                  Out of the wasteland
                </h4>
                <svg class="icon-up" width="24" height="24">
                  <use href="./img/icons.svg#icon-arrow-up"></use>
                </svg>
                <svg class="icon-down" width="24" height="24">
                  <use href="./img/icons.svg#icon-arrow-down"></use>
                </svg>
              </div>
              <div class="acord-img-description">
              <div class="img-text">
                  <img class="acord-img" src="./img/covers/7.jpg" alt="">
                    <p class="acord-album-description">
                      <b>Year of release:</b> 2015;<br>
                      <b>Singles:</b> Flight, Hurricane;
                    </p>
              </div>
                  <a  class="lrn-more" href="">learn more...</a>
              </div>
            </li>
            <li class="acord-album-item">
              <div class="acord-title-arrow">
                <h4 class="acord-album-title">
                  Goodbye Kanan
                </h4>
                <svg class="icon-up" width="24" height="24">
                  <use href="./img/icons.svg#icon-arrow-up"></use>
                </svg>
                <svg class="icon-down" width="24" height="24">
                  <use href="./img/icons.svg#icon-arrow-down"></use>
                </svg>
              </div>
              <div class="acord-img-description">
             <div class="img-text">
                  <img class="acord-img" src="./img/covers/8.jpeg" alt="">
                    <p class="acord-album-description">
                      <b>Year of release:</b> 2021;<br>
                      <b>Singles:</b>Cut & Run;
                    </p>
             </div>
                  <a  class="lrn-more" href="">learn more...</a>
              </div>
            </li>
        </div>
        <p class="hero-description">
          <span>Lifehouse</span> is a band from California which starts its journey
          in 1996. Jason Wade took the music as a way to find a connection with a
          new city where he just moved in. After all it turned into a successful
          music career. For more than twenty years we got eight studio albums. Jason
          and his bandmates experimenting with different direction from alternative
          rock to country music. Among that Wade started a few own projects. Another
          chapter is a collaboration with Steve Stout, also Lifehouse’ band member,
          what came out as a retrospective on the 60’s music. Side project got a
          name ØZWALD. The poetry of the last thirty years is here for you...
        </p>
   </div>
  </div>
  <div class="hero-menu">
   <h2>
    The story through the years...
   </h2>
  </div>
</section>
