<section>
  <div class="container">
    <h2>2000-2001 - No Name Face</h2>
    <div class="album-card">
      <img
        class="album-cover"
        src="./img/covers/1.jpg"
        alt="hhnf album cover"
        width="250"
        height="250"
      />
      <div class="album-description">
        <ul>
          <li><b>Released:</b> October 31, 2000</li>
          <li><b>Tracks:</b> 12 + 2 bonus</li>
          <li><b>Length:</b> 55:17 (63.30 with bonus tracks)</li>
          <li><b>Producer:</b> Ron Aniello</li>
          <li><b>Genre:</b> Alternative rockpost-grunge</li>
          <li><b>Label:</b> DreamWorks</li>
          <li>
            <b> Singles:</b>"Hanging by a Moment", "Sick Cycle Carousel",
            "Breathing"
          </li>
        </ul>
      </div>
    </div>
    <p class="album-history">
      No Name Face дебютный альбом рок-группы Lifehouse. Он был выпущен 31
      октября 2000 года, и содержал тогдашний хит "Hangin By A Moment", который
      продолжал быть самой популярной песней на радио даже год спустя. Этот
      альбом привёл Lifehouse в центр внимания. Было продано более четырех
      миллионов экземпляров во всем мире. Солист и автор песен Джейсон Уэйд
      сформировал Lifehouse, изначально как церковную рок-группу, поэтому часто
      выступал на церковных службах, перед контрактом с DreamWorks. Лиана Йонас
      из Allmusic дала альбому три из пяти звезд, отметив:"музыка точно
      поддерживает звучный голос Уэйда". Она также прокомментировала музыкальные
      способности Уэйда, сказав, что он "является лирическим вундеркиндом,
      правильно подбирая слова для своих слушателей" Продолжительность ~ 55:17.
      Записан в период с апреля по август 2000 года. Продюссер: Рон Аниелло.
    </p>
    <div class="swiper-container">
      <div class="swiper">
        <ul class="swiper-wrapper" id="nnf-gallery"></ul>
      </div>
    </div>
  </div>
  <div class="section-menu">
    <h2>No Name Face</h2>
    <ul class="section-menu-list">
      <li><a href="">About</a></li>
      <li><a href="">Lyrics</a></li>
      <li><a href="">Music</a></li>
      <li><a href="">Videos</a></li>
      <li><a href="">Gallery</a></li>
    </ul>
  </div>
</section>
