.hero-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hero-background {
  background-image: url('../img/backgrounds/NNF-Circle-from-CD.png'),
    url('../img/backgrounds/NNF-Circle-from-CD.png');
  background-size: 300px, 750px;
  background-position: 406px 0px, 905px 535px;
  background-repeat: no-repeat;
}

.accordeon {
  width: 380px;
  padding-bottom: 45px;
}
.acord-album-list {
}

.acord-album-item {
  border-radius: 0;
  padding: 28px 24px;
}

.acord-album-item + .acord-album-item {
  border-top: 1px solid rgba(43, 43, 43, 0.2);
}

.acord-album-item-active,
.acord-album-item-active + .acord-album-item {
  border-top: none;
}

.acord-album-item-active {
  border-radius: 8px;
  background-color: rgba(43, 43, 43, 0.2);
}

.acord-album-item-active .acord-img-description {
  display: inline-block;
}

.img-text {
  padding-top: 5px;
  display: flex;
  gap: 16px;
}

.acord-title-arrow {
  display: flex;
  justify-content: space-between;
}
.acord-album-title {
  font-family: 'Chromoh', serif;
  font-size: 19px;
}
.icon-up,
.icon-down {
  stroke: #292929;
  fill: transparent;
}

.acord-album-item-active .icon-down {
  display: none;
}

.acord-album-item-active .icon-up {
  display: inline;
}

.icon-up {
  display: none;
}

.acord-img-description {
  display: none;
}

.acord-img {
  border-radius: 8px;
  width: 100px;
  height: 100px;
}

.acord-album-description {
}

.hero-description {
  font-size: 19px;
  width: 695px;
  padding-top: 140px;
  /* margin-left: 450px; */
  /* margin-bottom: 150px; */
}

.hero-description span {
  font-family: 'Chromoh', serif;
}

.hero-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  color: beige;
  background-color: #2b2b2b;
}

.lrn-more {
  display: flex;
  font-weight: 500;
  justify-content: flex-end;
}
.lrn-more:hover {
  color: orangered;
}
